@model ToDoApp.Entities.ToDo

@{
    ViewData["Title"] = "CreateTodo";
}

<h1>Görev Ekle</h1>

<h4>ToDo</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateToDO">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AktifMi" /> @Html.DisplayNameFor(model => model.AktifMi)
                </label>
            </div>*@
            @*<div class="form-group">
                <label asp-for="OlusturmaTarihi" class="control-label"></label>
                <input asp-for="OlusturmaTarihi" class="form-control" />
                <span asp-validation-for="OlusturmaTarihi" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="BitisTarihi" class="control-label"></label>
                <input asp-for="BitisTarihi" class="form-control" />
                <span asp-validation-for="BitisTarihi" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="DegistimeTarihi" class="control-label"></label>
                <input asp-for="DegistimeTarihi" class="form-control" />
                <span asp-validation-for="DegistimeTarihi" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

